@import "variables";
.badge-primary {
  margin: 5px;
  background: $bkg-contrast;
  color: $clr-tertiary;
  font-size: 0.8em;
  //padding: 3px;
}

.experience {
  .progress-bar {
    background: $bkg-contrast;
  }
}
