@import "variables";
.badge-primary {
  margin: 5px;
  background: $bkg-highlight;
  color: $clr-tertiary;
  font-size: 0.8em;
  //padding: 3px;
}

.experience {
  .progress-bar {
    background: $bkg-highlight;
  }
}

/* Education */
h2 i.fas {
  font-size: 1rem;
}
.card {
  background: $bkg-tertiary !important;
  border-bottom: 4px solid $brd-secondary;

  h4 {
    font-size: 1rem;
  }
}

h3.card-instituition {
  color: $clr-secondary;
  font-size: 1.5em;
}
