@import "variables";

.map {
  width: 100%;

  iframe {
    width: 100%;
  }
}
.card-business {
  background: $bkg-highlight;

  h2,
  li {
    color: $clr-tertiary;
  }
}
.contact h2 {
  color: $clr-tertiary;
}
