//Background
$bkg-primary: #0a1b28;
//$bkg-secondary: #f4f4f4;
$bkg-secondary: #f2f4f6;
$bkg-tertiary: #192a36;
$bkg-contrast: #33c69f;
$bkg-light: #ff7a8a;
//Borders
$brd-primary: #192a36;
$brd-secondary: #33c69f;
//Colors
$clr-primary: #ffffff;
$clr-secondary: #33c69f;
$clr-tertiary: #0a1b28;

$href-primary: hsla(0, 0%, 100%, 0.5);
